<div class="container-operation">
  <section class="container-operation-header">
    <h2 class="operacao-h2">Empresa</h2>
  </section>
  <section class="container-operation-main">
    <div class="container-operation-list">
      <span>Lista de Empresas</span>
      <app-list-empresa
        [listar]="listar()"
        (abrirRegistro)="mudarOperacao(operationMap.REGISTRO, $event)"
      ></app-list-empresa>
    </div>
    <div class="container-operation-action">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          <app-inicial-empresa
            (abrirCadastro)="mudarOperacao(operationMap.CADASTRAR)"
          ></app-inicial-empresa>
        }
        @case ('cadastrar') {
          <section class="container-operation-signup">
            <div class="container-operation-action-header">
              <span>Cadastrar Empresa</span>
              <img
                class="container-operation-back"
                src="icons/arrow_circle_left.png"
                alt="Voltar"
                (click)="mudarOperacao(operationMap.INICIAL)"
              />
            </div>
            <app-form-empresa
              [operacaoAtual]="operacaoEstado()"
              [registroAtual]="registroEstado()"
              [listar]="listar()"
              [buscar]="buscar()"
              (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
            ></app-form-empresa>
          </section>
        }
        @case ('registro') {
          <section class="container-operation-register">
            <div class="container-operation-register-toggle">
              <app-toogle
                [statusEntity]="buscar().status"
                [onRegistroAtual]="registroEstado()"
                (onMudarRegistro)="mudarRegistro($event)"
              ></app-toogle>
            </div>
            <div class="container-operation-separated">
              @switch (registroEstado()) {
                @case ('informacao') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Dados da Empresa</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-info-empresa [info]="buscar()"></app-info-empresa>
                  </div>
                }

                @case ('atualizar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Atualizar da Empresa</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-form-empresa
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [listar]="listar()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
                    ></app-form-empresa>
                  </div>
                }
                @case ('status') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar a Empresa</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-process-empresa
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-process-empresa>
                  </div>
                }
                @case ('eliminar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Eliminar a Empresa</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-process-empresa
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-process-empresa>
                  </div>
                }
                @case ('auditoria') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Auditoria da Empresa</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-audit-empresa [listarAuditoria]="listarAuditoria()"></app-audit-empresa>
                  </div>
                }
              }
            </div>
          </section>
        }
      }
    </div>
  </section>
</div>

<!--
 

-->
