.dashboard {
  display: grid;
  gap: 10px;
  margin: 10px;
  height: 100vh;

  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 50px 1fr 40px;
  grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
  header {
    grid-area: header;
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
    background-color: green;
  }
  footer {
    grid-area: footer;
  }
}
// HEADER
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-white);

  color: var(--color-blue-01);

  .logo {
    height: 40px;
  }
  .container-centralized {
    width: 203px;
    display: flex;
    &.center {
      justify-content: center;
    }
  }
  .container-user-logout {
    display: flex;
    gap: 10px;
  }
  .user,
  .logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;

    background-color: var(--color-secondary);
    border-radius: 20px;
    border: 1px solid var(--color-blue-01);

    cursor: pointer;
  }
}
.icons {
  width: 20px;
  height: 20px;
}
// SIDEBAR
.container-aside {
  background-color: var(--color-secondary);
  width: 200px;
  transition: width 0.3s ease;
  border-radius: 10px;
  border: 1px solid var(--color-white);
  overflow: hidden;
  nav {
    padding-top: 15px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 16px;
          color: var(--color-white);
          text-decoration: none;
          font-size: 14px;
          white-space: nowrap;
          transition: background 0.2s;
          cursor: pointer;

          .icons {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }
          .nav-text {
            display: inline-flex;
            transition: opacity 0.3s ease;
          }
          // SUBMENU - ICONES ARROW
          .arrow {
            margin-left: auto;
            font-size: 12px;
            transition: transform 0.3s ease;
            display: inline-flex;
            &.rotated {
              transform: rotate(-180deg);
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
          &.active {
            background: rgba(255, 255, 255, 0.2);
            font-weight: 500;
          }
        }
        // SUBMENU - CONTAINER
        &.has-submenu {
          .submenu {
            max-height: 0;
            overflow: hidden;
            transition:
              max-height 0.3s ease,
              opacity 0.3s ease;
            opacity: 0;
            padding: 0 0 0 20px;
            margin: 0;
            list-style: none;
            &.open {
              max-height: 500px;
              opacity: 1;
              padding: 4px 0 8px 20px;
            }
          }
        }
      }
    }
  }
  &.sidebar-collapsed {
    width: 72px;

    nav ul li a {
      justify-content: center;
      padding: 10px 0;
      gap: 0;

      .nav-text,
      .arrow {
        opacity: 0;
        visibility: hidden;
        width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        pointer-events: none;
      }
    }

    .submenu {
      display: none;
    }

    .reduce-sidebar {
      position: fixed;
      bottom: 60px;
      left: 36px;
      transition: left 0.3s ease;
    }
  }
  &:hover {
    width: 200px;

    nav ul li a {
      justify-content: flex-start;
      padding: 10px 16px;
      gap: 10px;
      .nav-text {
        opacity: 1;
        visibility: visible;
        width: auto;
        margin: 0;
        padding: 0;
        pointer-events: auto;
      }
      .arrow {
        opacity: 1;
        visibility: visible;
        width: auto;
        margin-left: auto;
        padding: 0;
        pointer-events: auto;
      }
    }
    .submenu {
      display: block;
      &.open {
        max-width: 500px;
        opacity: 1;
        padding: 4px 0 8px 20px;
      }
    }
    .reduce-sidebar {
      position: fixed;
      bottom: 60px;
      left: 100px;
      transition: left 0.3s ease;
    }
  }
  .reduce-sidebar {
    position: fixed;
    bottom: 60px;
    left: 100px;
  }
}
// CLASSE DE UTILIDADE PARA OCULTAR ELEMENTOS
.hidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  flex-shrink: 0;
}
// FOOTER
.container-footer {
  display: flex;
  justify-content: center;
  align-items: start;

  .text-developed {
    font-size: 14px;
    color: var(--color-blue-01);
  }
}
