.form-label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  margin-bottom: 5px;
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  transition: border-color 0.2s;
  // FOCUS-WITHIN - foco-dentro
  &:focus-within {
    border-color: var(--color-action);
    outline: 2px solid var(--font-primary);
    outline-offset: 2px;
  }

  input {
    flex: 1;
    min-width: 0;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-white);
    font-size: 14px;

    &::placeholder {
      color: #aaa;
      font-size: 300;
    }
  }
}

.error {
  border-color: var(--color-negative);
}

.error-message {
  color: var(--color-negative);
  font-size: 10px;
}
