<div class="operacao-dados">
  <h2 class="operacao-h2">Perfil</h2>
  <section class="operacao-container">
    <div class="operacao-lista">
      <span>Lista de Perfis</span>
      <table class="operacao-tabela">
        <tr>
          <th class="operacao-coluna">Código</th>
          <th class="operacao-coluna">Descrição</th>
          <th class="operacao-coluna">Ação</th>
        </tr>
        @for (item of listar(); track item.id) {
          <tr class="operacao-hover">
            <td class="operacao-dado">{{ item?.codigo }}</td>
            <td class="operacao-dado">{{ item?.descricao }}</td>
            <td class="operacao-dado">
              <img class="operacao-icone" src="icons/more_horiz.png" alt="Ação" />
            </td>
          </tr>
        }
      </table>
    </div>
    <div class="operacao-acao">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          <div class="operacao-inicial">
            <img class="operacao-img" src="images/4151017.png" alt="Perfil" />
            <span class="operacao-texto">Cadastrar um novo perfil?</span>
            <button class="operacao-botao" (click)="mudarOperacao('cadastrar')">Clique aqui</button>
          </div>
        }
        @case ('cadastrar') {
          <div class="operacao-cadastrar">
            <span>Cadastrar Perfil</span>
            <form>
              <div class="form-group">
                <label for="descricao">Descrição:</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="descricao"
                    name="descricao"
                    placeholder="Insira a descrição do perfil"
                    autocomplete="off"
                  />
                </div>
              </div>
              <button>Cadastrar</button>
            </form>
          </div>
        }
      }
    </div>
  </section>
</div>
