<div class="operacao-dados">
  <h2 class="operacao-h2">Perfil</h2>
  <section class="operacao-container">
    <div class="operacao-lista">
      <span>Lista de Perfis</span>
      <app-list-perfil
        [listaPerfil]="listar()"
        (abrirRegistro)="mudarOperacao(operationMap.REGISTRO, $event)"
      ></app-list-perfil>
    </div>
    <div class="operacao-acao">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          <app-inicial-perfil
            (abrirCadastro)="mudarOperacao(operationMap.CADASTRAR)"
          ></app-inicial-perfil>
        }
        @case ('cadastrar') {
          <section class="operacao-cadastrar">
            <div class="operacao-titulo">
              <span>Cadastrar Perfil</span>
              <img
                class="operacao-voltar"
                src="icons/arrow_circle_left.png"
                alt="Voltar"
                (click)="mudarOperacao(operationMap.INICIAL)"
              />
            </div>
            <app-form-perfil
              [operacaoAtual]="operacaoEstado()"
              [registroAtual]="registroEstado()"
              [listarPerfil]="listar()"
              [buscarPerfil]="buscar()"
              (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
            ></app-form-perfil>
          </section>
        }
        @case ('registro') {
          <app-toogle
            [buscarStatus]="buscar().status"
            [onRegistroAtual]="registroEstado()"
            (onMudarRegistro)="mudarRegistro($event)"
          ></app-toogle>
          <section class="operacao-registro">
            @switch (registroEstado()) {
              @case ('informacao') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Dados do Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-info-perfil [infoPerfil]="buscar()"></app-info-perfil>
                </div>
              }
              @case ('atualizar') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Atualizar o Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-form-perfil
                    [operacaoAtual]="operacaoEstado()"
                    [registroAtual]="registroEstado()"
                    [listarPerfil]="listar()"
                    [buscarPerfil]="buscar()"
                    (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                  ></app-form-perfil>
                </div>
              }
              @case ('ativar') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Inativar o Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-process-perfil
                    [operacaoAtual]="operacaoEstado()"
                    [registroAtual]="registroEstado()"
                    [buscarPerfil]="buscar()"
                    (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                  ></app-process-perfil>
                </div>
              }
              @case ('status') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Inativar o Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-process-perfil
                    [operacaoAtual]="operacaoEstado()"
                    [registroAtual]="registroEstado()"
                    [buscarPerfil]="buscar()"
                    (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                  ></app-process-perfil>
                </div>
              }
              @case ('eliminar') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Eliminar o Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-process-perfil
                    [operacaoAtual]="operacaoEstado()"
                    [registroAtual]="registroEstado()"
                    [buscarPerfil]="buscar()"
                    (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                  ></app-process-perfil>
                </div>
              }
              @case ('auditoria') {
                <div class="registro-container">
                  <div class="operacao-titulo">
                    <span>Auditoria do Perfil</span>
                    <img
                      class="operacao-voltar"
                      src="icons/arrow_circle_left.png"
                      alt="Voltar"
                      (click)="mudarOperacao(operationMap.INICIAL)"
                    />
                  </div>
                  <app-audit-perfil [listarAuditoria]="listarAuditoria()"></app-audit-perfil>
                </div>
              }
            }
          </section>
        }
      }
    </div>
  </section>
</div>
