<div class="container-operation">
  <section class="container-operation-header">
    <h2 class="operacao-h2">Perfil</h2>
  </section>
  <section class="container-operation-main">
    <div class="container-operation-list">
      <span>Lista de Perfis</span>
      <app-list-perfil
        [listar]="listar()"
        (abrirRegistro)="mudarOperacao(operationMap.REGISTRO, $event)"
      ></app-list-perfil>
    </div>
    <div class="container-operation-action">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          @if (contador(); as contagem) {
            <app-inicial-perfil
              [contador]="contagem"
              (abrirCadastro)="mudarOperacao(operationMap.CADASTRAR)"
            ></app-inicial-perfil>
          }
        }
        @case ('cadastrar') {
          <section class="container-operation-signup">
            <div class="container-operation-action-header">
              <span>Cadastrar Perfil</span>
              <button mat-icon-button color="accent" (click)="mudarOperacao(operationMap.INICIAL)">
                <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
              </button>
            </div>
            <app-form-perfil
              [operacaoAtual]="operacaoEstado()"
              [registroAtual]="registroEstado()"
              [listar]="listar()"
              (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
            ></app-form-perfil>
          </section>
        }
        @case ('registro') {
          <section class="container-operation-register">
            <div class="container-operation-register-toggle">
              @if (buscar(); as dado) {
                <app-toogle
                  [statusEntity]="dado.status"
                  [onRegistroAtual]="registroEstado()"
                  (onMudarRegistro)="mudarRegistro($event)"
                ></app-toogle>
              }
            </div>
            <div class="container-operation-separated">
              @switch (registroEstado()) {
                @case ('informacao') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Dados do Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-info-perfil [info]="dado"></app-info-perfil>
                    }
                  </div>
                }
                @case ('atualizar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Atualizar o Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-form-perfil
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [listar]="listar()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-form-perfil>
                    }
                  </div>
                }
                @case ('ativar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-perfil
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-perfil>
                    }
                  </div>
                }
                @case ('status') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-perfil
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-perfil>
                    }
                  </div>
                }
                @case ('eliminar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Eliminar o Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-perfil
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-perfil>
                    }
                  </div>
                }
                @case ('auditoria') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Auditoria do Perfil</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-audit-perfil [listarAuditoria]="listarAuditoria()"></app-audit-perfil>
                  </div>
                }
              }
            </div>
          </section>
        }
      }
    </div>
  </section>
</div>
