<div class="container-operation">
  <section class="container-operation-header">
    <h2 class="operacao-h2">Usuário</h2>
  </section>
  <section class="container-operation-main">
    <div class="container-operation-list">
      <span>Lista de Usuários</span>
      <app-list-usuario
        [listar]="listar()"
        (abrirRegistro)="mudarOperacao(operationMap.REGISTRO, $event)"
      ></app-list-usuario>
    </div>
    <div class="container-operation-action">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          <app-inicial-usuario
            [listar]="listar()"
            (abrirCadastro)="mudarOperacao(operationMap.CADASTRAR)"
          ></app-inicial-usuario>
        }
        @case ('cadastrar') {
          <section class="container-operation-signup">
            <div class="container-operation-action-header">
              <span>Cadastrar Usuário</span>
              <button mat-icon-button color="accent" (click)="mudarOperacao(operationMap.INICIAL)">
                <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
              </button>
            </div>
            <app-form-usuario
              [operacaoAtual]="operacaoEstado()"
              [registroAtual]="registroEstado()"
              [listar]="listar()"
              [buscar]="buscar()"
              (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
            ></app-form-usuario>
          </section>
        }
        @case ('registro') {
          <section class="container-operation-register">
            <div class="container-operation-register-toggle">
              <app-toogle
                [statusEntity]="buscar().status"
                [onRegistroAtual]="registroEstado()"
                (onMudarRegistro)="mudarRegistro($event)"
              ></app-toogle>
            </div>
            <div class="container-operation-separated">
              @switch (registroEstado()) {
                @case ('informacao') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Dados do Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-info-usuario [info]="buscar()"></app-info-usuario>
                  </div>
                }
                @case ('atualizar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Atualizar o Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-form-usuario
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [listar]="listar()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-form-usuario>
                  </div>
                }
                @case ('ativar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-process-usuario
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-process-usuario>
                  </div>
                }
                @case ('status') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-process-usuario
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-process-usuario>
                  </div>
                }
                @case ('eliminar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Eliminar o Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-process-usuario
                      [operacaoAtual]="operacaoEstado()"
                      [registroAtual]="registroEstado()"
                      [buscar]="buscar()"
                      (onMudarOperacao)="mudarOperacao($event, buscar().id)"
                    ></app-process-usuario>
                  </div>
                }
                @case ('auditoria') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Auditoria do Usuário</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-audit-usuario [listarAuditoria]="listarAuditoria()"></app-audit-usuario>
                  </div>
                }
              }
            </div>
          </section>
        }
      }
    </div>
  </section>
</div>
