<div class="container-operation">
  <section class="container-operation-header">
    <h2 class="operacao-h2">Setores</h2>
  </section>
  <section class="container-operation-main">
    <div class="container-operation-list">
      <span>Lista de Setores</span>
      <app-list-setores
        [listar]="listar()"
        (abrirRegistro)="mudarOperacao(operationMap.REGISTRO, $event)"
      ></app-list-setores>
    </div>
    <div class="container-operation-action">
      @switch (operacaoEstado()) {
        @case ('inicial') {
          <app-inicial-setores
            [listar]="listar()"
            (abrirCadastro)="mudarOperacao(operationMap.CADASTRAR)"
          ></app-inicial-setores>
        }
        @case ('cadastrar') {
          <section class="container-operation-signup">
            <div class="container-operation-action-header">
              <span>Cadastrar Setores</span>
              <button mat-icon-button color="accent" (click)="mudarOperacao(operationMap.INICIAL)">
                <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
              </button>
            </div>
            <app-form-setores
              [operacaoAtual]="operacaoEstado()"
              [registroAtual]="registroEstado()"
              [listar]="listar()"
              (onMudarOperacao)="mudarOperacao(operationMap.INICIAL)"
            ></app-form-setores>
          </section>
        }
        @case ('registro') {
          <section class="container-operation-register">
            <div class="container-operation-register-toggle">
              @if (buscar(); as dado) {
                <app-toogle
                  [statusEntity]="dado.status"
                  [onRegistroAtual]="registroEstado()"
                  (onMudarRegistro)="mudarRegistro($event)"
                ></app-toogle>
              }
            </div>
            <div class="container-operation-separated">
              @switch (registroEstado()) {
                @case ('informacao') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Dados do Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-info-setores [info]="dado"></app-info-setores>
                    }
                  </div>
                }
                @case ('atualizar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Atualizar o Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-form-setores
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [listar]="listar()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-form-setores>
                    }
                  </div>
                }
                @case ('ativar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-setores
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-setores>
                    }
                  </div>
                }
                @case ('status') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Inativar o Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-setores
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-setores>
                    }
                  </div>
                }
                @case ('eliminar') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Eliminar o Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    @if (buscar(); as dado) {
                      <app-process-setores
                        [operacaoAtual]="operacaoEstado()"
                        [registroAtual]="registroEstado()"
                        [buscar]="dado"
                        (onMudarOperacao)="mudarOperacao($event, dado.id)"
                      ></app-process-setores>
                    }
                  </div>
                }
                @case ('auditoria') {
                  <div class="container-operation-register">
                    <div class="container-operation-action-header">
                      <span>Auditoria do Setores</span>
                      <button
                        mat-icon-button
                        color="accent"
                        (click)="mudarOperacao(operationMap.INICIAL)"
                      >
                        <mat-icon fontSet="material-symbols-outlined">arrow_circle_left</mat-icon>
                      </button>
                    </div>
                    <app-audit-setores [listarAuditoria]="listarAuditoria()"></app-audit-setores>
                  </div>
                }
              }
            </div>
          </section>
        }
      }
    </div>
  </section>
</div>
