<div class="principal-dados">
  <h2 class="principal-h2">Principal</h2>
  <h1 class="principal-h1">Bem vindo Usuário</h1>
  <h3 class="principal-h3">Informações Rápidas</h3>
</div>
<div class="principal-cards">
  <section class="card quadro">
    <div class="card linha">
      <span>Mês Atual</span>
      <img src="icons/calendar_month.png" alt="Mês Atual" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Escala Atual</span>
      <img src="icons/calendar_clock.png" alt="Escala Atual" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Eficiência Acumulada</span>
      <img src="icons/chart_data.png" alt="Eficiência Acumulada" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Quadro de Colaboradores</span>
      <img src="icons/group.png" alt="Quadro de Colaboradores" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Faltas Totais</span>
      <img src="icons/chart_data.png" alt="Faltas Totais" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Experiência</span>
      <img src="icons/celebration.png" alt="Experiência" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Competência Setorial</span>
      <img src="icons/demography.png" alt="Competência Setorial" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Informativo Interno</span>
      <img src="icons/list_alt.png" alt="Informativo Interno" />
    </div>
    <span>VALOR</span>
  </section>
  <section class="card quadro">
    <div class="card linha">
      <span>Quadro de Ativos</span>
      <img src="icons/settings_applications.png" alt="Quadro de Ativos" />
    </div>
    <span>VALOR</span>
  </section>
</div>
