<section class="container-principal">
  <div class="principal-dados">
    <h2 class="principal-h2">Principal</h2>
    <h1 class="principal-h1">Bem vindo {{ usuario()?.nome }}</h1>
    <h3 class="principal-h3">Informações Rápidas</h3>
  </div>
  <div class="principal-cards">
    <section class="card quadro">
      <div class="card linha">
        <span>Mês Atual</span>
        <mat-icon fontSet="material-symbols-outlined">calendar_month</mat-icon>
      </div>
      <span>{{ mesAtual }}</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Escala Atual</span>
        <mat-icon fontSet="material-symbols-outlined">schedule</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Eficiência Acumulada</span>
        <mat-icon fontSet="material-symbols-outlined">chart_data</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Quadro de Colaboradores</span>
        <mat-icon fontSet="material-symbols-outlined">group</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Faltas Totais</span>
        <mat-icon class="icon-reverse" fontSet="material-symbols-outlined">chart_data</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Experiência</span>
        <mat-icon fontSet="material-symbols-outlined">celebration</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Competência Setorial</span>
        <mat-icon fontSet="material-symbols-outlined">demography</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Informativo Interno</span>
        <mat-icon fontSet="material-symbols-outlined">list_alt</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
    <section class="card quadro">
      <div class="card linha">
        <span>Quadro de Ativos</span>
        <mat-icon fontSet="material-symbols-outlined">precision_manufacturing</mat-icon>
      </div>
      <span>VALOR</span>
    </section>
  </div>
</section>
