.container-principal-header,
.container-principal-cards {
  color: var(--color-white);
}

.container-principal {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-principal-header {
  height: 15%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  h1 {
    padding-left: 10px;
  }

  h3 {
    padding-left: 10px;
  }
}

.container-principal-cards {
  height: 85%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px;
  padding: 10px 20px;
}

.card {
  display: flex;
  align-items: center;

  &.quadro {
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--color-white);

    flex-direction: column;
    justify-content: space-between;
  }

  &.linha {
    width: 100%;
    justify-content: space-between;
  }
}

.card:nth-child(4) {
  grid-row: span 2;
}

.card:nth-child(8) {
  grid-column: span 3;
}
