// DASHBOARD
.container-dashboard {
  display: grid;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
  padding: var(--padding-default);

  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';

  header {
    grid-area: header;

    border-bottom: 2px solid var(--color-white);
  }
  aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}
