// DASHBOARD
.container-dashboard {
  display: grid;
  height: 100%;
  gap: 10px;
  box-sizing: border-box;
  padding: var(--padding-default);

  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
  .container-header {
    grid-area: header;
  }
  .container-aside {
    grid-area: aside;
  }
  .container-main {
    grid-area: main;
  }
  .container-footer {
    grid-area: footer;
  }
}
