.forms-operacao,
.forms-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.forms-operacao {
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 10px;
}

.forms-operacao.resp {
  height: 92%;
}

.forms-group {
  gap: 10px;
}

.error-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  color: var(--color-negative);
  font-size: 0.65rem;
  line-height: 1.5;
  white-space: nowrap;
}

.error-message.show {
  visibility: visible;
  opacity: 1;
}

button:disabled {
  opacity: 0.5;
}
