.container-operation-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.operation-initial-text {
  font-size: 2rem;
}

.operation-initial-data {
  width: 100%;
  display: flex;
  gap: 10px;
}

mat-card.initial-totals {
  border-color: var(--color-alert);
}
mat-card.initial-active {
  border-color: var(--color-positive);
}
mat-card.initial-deactive {
  border-color: var(--color-negative);
}

div.container-card-icon {
  width: 51px;
  height: 51px;
  order: -1;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;

  &.totals {
    background-color: var(--color-alert);
  }

  &.active {
    background-color: var(--color-positive);
  }

  &.deactive {
    background-color: var(--color-negative);
  }
}
