.operacao-dados {
  color: var(--color-white);
  margin: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.operacao-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.operacao-acao,
.operacao-lista {
  height: 70vh;
  border: 1px solid var(--color-white);
  border-radius: 10px;
}

.operacao-lista {
  width: 35%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .operacao-tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  .operacao-coluna,
  .operacao-dado {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--color-white);
  }
  .operacao-hover:hover {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 50%;
    cursor: default;
  }
  .operacao-icone {
    cursor: pointer;
  }
}

.operacao-acao {
  width: 65%;
}
