.process-operacao,
.process-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.process-operacao {
  height: 95%;
  box-sizing: border-box;
  justify-content: space-between;
}

.image-process {
  width: 250px;
}

@media (max-height: 750px) {
  .process-operacao {
    height: 93%;
  }
}

.image-process {
  width: 200px;
}

.process-group {
  height: 100%;
  justify-content: center;
  gap: 30px;

  span {
    font-family: var(--font-primary);
    font-size: 20px;
  }
}
