.container-operation-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.operation-initial-text {
  font-size: 2rem;
}

.operation-initial-data {
  width: 100%;
  display: flex;
  gap: 10px;
}

mat-card.initial-totals {
  border-color: var(--color-alert);
}
mat-card.initial-active {
  border-color: var(--color-positive);
}
mat-card.initial-deactive {
  border-color: var(--color-negative);
}
