.toggle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.toggle-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  border: 2px solid var(--color-white);
  border-radius: 30px;
}

::ng-deep .mat-button-toggle-group {
  border: none;
  border-radius: 30px;
  background: var(--color-secondary);
}

::ng-deep .mat-button-toggle {
  border-radius: 30px;
  border: none;
  background: transparent;
  padding: 0px 20px !important;
}

::ng-deep .mat-button-toggle-checked {
  background: var(--color-primary) !important;
  border-radius: 30px;
}

::ng-deep .mat-button-toggle-checked .mat-button-toggle-label-content {
  color: var(--color-white) !important;
}

::ng-deep .mat-button-toggle-label-content {
  padding: 3px 20px !important;
  font-weight: 500;
}
