:root {
  // CORES DO SISTEMA
  --color-primary: #03396c;
  --color-secondary: #011f4b;
  --color-white: #fff;
  --color-blue-01: #b3cde0;
  // TIPOGRAFIA DO SISTEMA
  --font-primary: 'Lora', sans-serif;
}
