<!-- Sobreposição do fundo -->
<section class="modal-backdrop" (click)="fecharModal('cancelado')"></section>
<!-- Card do modal -->
<section class="modal-card">
  <div class="modal-container">
    <!-- Cabeçalho -->
    <header class="modal-header">
      <img class=".modal-image" [src]="data.icone" alt="adicionar" />
    </header>
    <!-- Corpo -->
    <main class="modal-main">
      <h2>{{ data.titulo }}</h2>
      <span>{{ data.mensagem }}</span>
    </main>
  </div>
  <!-- Rodapé com botões -->
  <footer class="modal-footer">
    <button
      class="modal-btn btn-secondary"
      (click)="fecharModal('cancelado')"
      [disabled]="carregando()"
    >
      Cancelar
    </button>
    <button class="modal-btn btn-primary" (click)="onConfirmar()" [disabled]="carregando()">
      @if (carregando()) {
        <span class="spinner"></span> Processando...
      } @else {
        Confirmar
      }
    </button>
  </footer>
</section>
